{% extends 'catalog/base.html' %}
{%load my_tags%}
{% block content1 %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Список статей</h1>
    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:create' %}">Создать</a>
</div>
{% endblock %}
{% block content2 %}
<div class="row text-center">
    {% for object in object_list%}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{object.title}}</h4>
                <a href="{% url 'blog:toggle_activity' object.pk %}">Снять с публикации</a>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{object.body}}</li>
                    <img src="{% mediapath object.image %}" width="189" height="255" alt="lorem"/>
                </ul>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:view' object.pk %}">Просмотр</a>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:edit' object.pk %}">Изменить</a>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:delete' object.pk %}">Удалить</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
